@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to TW Clone</h1>
        @Html.ActionLink("general", "Index", "General");
        @Html.ActionLink("relatório", "Index", "Relatorio");
    </div>
